#a {
  width: 150px;
  height: 150px;
  background-color: bisque;
}
#b {
  width: 150px;
  height: 150px;
  background-color: rgb(63, 63, 194);
}
#j {
  width: 150px;
  height: 150px;
  background-color: yellow;
}
