#dvSlider {
  width: 1000px;
  height: 300px;
  border: 1.5px solid black;
  margin: auto;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgb(0, 0, 0) 1px;
}

.body {
}

.btn {
  width: 50px;
  height: 40px;
  border: none;
  font-size: 20px;
  background-color: rgb(255, 91, 91);
  color: white;
  font-weight: 100;
}
